body {
    background: linear-gradient(135deg, #6f42c1, #007bff);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header img{
    height: 12vh;
    bottom: 12vw;
    border: 3px solid red;
    border-radius: 50%;
}
header h3{
    transform: translate(50rem,1.25rem);
    text-decoration: none;
    color: aquamarine;
}
header h3:hover{
   
    color: rgb(237, 242, 240);
}

header {
    display: flex;
    gap: 2vw;
    padding: 20px;
    background-color: #11365e;
    color: white;
}

.greeting {
    font-size: 18px;
}

.suggestion-section {
    text-align: center;
    padding: 20px;
}

.suggestion-section h2 {
    color: hsl(210, 29%, 97%);
    margin-bottom: 20px;
}

.suggestion-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.outfit-item {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

.outfit-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.item02 img{
    height: 18vh;
}

