* {
    margin: 0;
    padding: 0;
}

body, html {
    /* overflow-x: hidden; */
}


.navbar {
    background-color: #4fbbd4;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.nav-logo {
    background-image: url('/images/ClosetCraft.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: 2px solid red;
    margin-top: -0.3%;
    margin-left: 1rem;
}

.nav-title {
    flex: auto;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    padding: 0;
}

li {
    margin: 0 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}


.special-item {

    /* background-color: red; */
    color: black;
    border-radius: 5%;
    /* border: 2px solid white */
}


li:hover {
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}




body {
    background: linear-gradient(135deg, #6f42c1, #007bff);
}


main h1 {
    display: flex;
    justify-content: center;
    color: bisque;
}


.small-clothes{
    transform: translate(2rem,4.5rem);
    
}

.details1-box{
    height: 7rem;
    width: 65rem;
    transform: translate(28rem,0.2rem);
    border: 2px solid black;
}

.msg1{
    transform: translate(28rem,4rem);
    background-color: #4f0c91;
    border-radius: 1rem;
    display:inline-block;
    color: white;
}

.old-clothes{
    transform: translate(2rem,7.5rem);
    
}



.details2-box{
    height: 7rem;
    width: 65rem;
    transform: translate(28rem,3rem);
    border: 2px solid black;
}

.msg2{
    transform: translate(18rem,6rem);
    background-color: #4f0c91;
    border-radius: 1rem;
    display:inline-block;
    color: white;
}


.footer {
    background-color: #333;
    color: #fff;
    /* padding: 20px 0; */
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translate(0rem,10rem);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.footer-logo {
    border-radius: 30%;
    width: 80px;
    height: auto;
}

.footer-links {
    margin-top: 10px;
    transform: translate(4.5rem,0rem);
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ffd700;
}


.content{
  margin-left: 28rem;
}